<div id="product-list">
<h1>Noticias</h1>

<table>
  <% for noticia in @noticias %>
	<tr class="<%= cycle('list-line-odd', 'list-line-even')%>">
	
		<td>
			<%=image_tag noticia.image_url, :class => 'list-image' %> 
		</td>

		<td class="list-description">
			<dl>
				<dt><%=h noticia.titular %></dt>
				<dd><%=h truncate(noticia.cuerpo.gsub(/<.*?>/,''), 80) %> </dd>
				<dd>Autor: <%=h noticia.autor %></dt>
			</dl>	
		</td>
	
		<td class="list-actions">
			<%= link_to 'Mostrar', noticia %><br/>
			<%= link_to 'Editar', edit_noticia_path(noticia) %><br/>
			<%= link_to 'Eliminar', noticia,
				:confirm => 'Está seguro?',
				:method => :delete %>
		</td>
	</tr>

<%end%>
</table>
</div>
<br />

<%= link_to 'Nueva noticia', new_noticia_path %>
